doctype html
html    
    head
        meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        title=title         /* 这之间还不能空格*/
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/bootstrap.js')
        style(type='text/css').
            body{
            padding-top:60px;
            padding-bottom:40px
            }
    body

        block scripts

        header(class='navbar navbar-inverse  navbar-fixed-top')
            .container
                .navbar-header
                    a(class='navbar-brand', href='/') Microblog
                nav(class="navbar-collapse collapse")
                    ul(class="nav navbar-nav")
                        li 
                            a(href='/')  首页
                        if  (!user) 
                            li 
                                a(href='/login') 登录
                            li 
                               a(href='/reg') 注册
                        else                                 
                            li
                               a(href='/logout')  退出
                        li
                            a(href="/map") 地图热点
        .container.body-content
            block content
            hr
        footer.text-muted
            .container
                p 
                    a(href="http://www.baidu.com",traget="_blank")  有态度的马甲          
                    span 2016
    