extends ./layout.jade

block content
	form.form-horizontal(method='post')
		fieldset
			legend 用户登入
			.class-group
				label.control-label(for='username') 用户名
				.controls
					input(type='text',class='input-xlarge',name='username')#username
			.class-group
				label.control-label(for='password') 口令
				.controls
					input(type='password',class='input-xlarge',name='password')#password
			.form-actions
				button(type='submit',class='btn btn-primary')  登入

