extends ./layout.jade

block content
	.container.bs-docs-container
		.row
			.col-md-9(role='main')
				h1 本页面只适用于PC端查看
				#map.container
			.col-md-3(role='complementary')
				p 设备列表
				#deviceListContent
		
