-if(posts.length){
-posts.forEach(function(post,x){

-if (x % 3 == 0){
    div(class='row')/
-}
        .span4
            h2
                a(href='/u/' + posts[x].user)=posts[x].user
                !='说'
            p
                small=posts[x].time
            p=posts[x].post
-if (x % 3 == 2){
    </div>
-}


-if(posts.length== x+1){
    </div>
-}


-})
-}



